.App {
  text-align: center;
}

@font-face {
  font-family: 'HakgyoansimWoojuR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IAMAPLAYER';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/IAMAPLAYER.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TheJamsil5Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.kb-bg-color {
  /*background-color: #645B4C;*/
  font-family: 'IAMAPLAYER', serif;
}

.kb-font-color {
  color: #FCAF17;
  font-family: 'TheJamsil5Bold', sans-serif;
/*  img
  background-image: url('./img/사진이름')
*/

}

.main-bg {
  /*height: 250px;*/
  /*background-image: url('./img/bg.jpg');*/
  /*background-size: cover;*/
  /*background-position: center;*/
  background: rgb(255,188,0);
  background: linear-gradient(7deg, rgba(255,188,0,1) 0%, rgba(255,255,255,1) 73%, rgba(255,255,255,1) 100%);
  padding: 10% 5%;
  color: black;
}

.yellow-line-bg {
  height: 200px;
  background: #ffe499;
}


.btn-grad {
  background-image: linear-gradient(to right, #4b6cb7 0%, #182848  51%, #4b6cb7  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /*box-shadow: 0 0 20px #eee;*/
  border-radius: 25px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  /*color: transparent;*/
  text-decoration: none;
}

.btn-mini{
  border: none;
  /*width: 80%;*/
  /*border-radius: 25px;*/
  color: darkgray;
}

.btn-mini:hover {
  background-position: right center; /* change the direction of the change here */
  color: #FCAF17;
  text-decoration: none;
}


a {
  text-decoration-line: none;
  /*   text-decoration-line: underline; */
  /*   text-decoration-line: overline; */
  /*   text-decoration-line: line-through; */
  /*   text-decoration-line: underline line-through overline; */
}

/* SlideShow.css */
.slide-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.slide {
  max-width: 100%;
  max-height: 400px;
  overflow: hidden;
}

.slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  margin-top: 10px;
}


/*.slide-buttons {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  margin-top: 10px;*/
/*}*/

/*.slide-buttons button {*/
/*  width: 10px;*/
/*  height: 10px;*/
/*  border-radius: 50%;*/
/*  border: none;*/
/*  margin: 0 5px;*/
/*  cursor: pointer;*/
/*  background-color: #ccc;*/
/*  transition: background-color 0.3s;*/
/*}*/

/*.slide-buttons button.active {*/
/*  background-color: #FCAF17;*/
/*}*/
